In [142]:
import pandas as pd
import numpy as np

In [65]:
column_types = {
    'sex': 'category',
    'workclass': 'category',
    'education': 'category',
    'marital-status': 'category',
    'relationship': 'category',
    'race': 'category',
    'native-country': 'category',
    'salary': 'category'
}

In [207]:
adult = pd.read_csv('adult.data.csv', dtype=column_types)

In [208]:
adult['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [209]:
adult['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

## What is the average age of men?

In [219]:
round(
    adult.loc[(adult.sex == 'Male'), 'age'].mean(), 1
)

39.4

## What is the percentage of people who have a Bachelor's degree?

In [236]:
round(
    adult[(adult.education == 'Bachelors')]['education'].count() / adult['education'].count() * 100
, 1)

16.4

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [234]:
advanced_education = ['Bachelors', 'Masters', 'Doctorate']
round(
    adult[
    (adult.education.isin(advanced_education)) &
    (adult.salary == '>50K')
]['education'].count() / adult[(adult.education.isin(advanced_education))]['education'].count() * 100
, 1)

46.5

What percentage of people without advanced education make more than 50K?

In [235]:
round(
    adult[
    (~adult.education.isin(advanced_educationx)) &
    (adult.salary == '>50K')
]['education'].count() / adult[
    (~adult.education.isin(advanced_educationx))
]['education'].count() * 100
,1)

17.4

What is the minimum number of hours a person works per week?

In [214]:
adult['hours-per-week'].min()

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [215]:
adult[
    (adult['hours-per-week'] == adult['hours-per-week'].min()) &
    (adult['salary'] == '>50K')]['salary'].count() / adult[(adult['hours-per-week'] == adult['hours-per-week'].min())]['salary'].count() * 100

10.0

What country has the highest percentage of people that earn >50K and what is that percentage?

In [216]:
(
    round(
    adult.loc[
        (adult['salary'] == '>50K'), 'native-country'
    ].value_counts() / adult['native-country'].value_counts() * 100,1)
).idxmax()

'Iran'

In [224]:
(
    round(
    adult.loc[
        (adult['salary'] == '>50K'), 'native-country'
    ].value_counts() / adult['native-country'].value_counts() * 100,1)
).max()

41.9

Identify the most popular occupation for those who earn >50K in India.

In [217]:
(
    adult.loc[
        (adult['salary'] == '>50K') & (adult['native-country'] == 'India' ) , 'occupation'
    ].value_counts() 
).idxmax()

'Prof-specialty'